/* 1025px */


@media (max-width:1025px){
    .burgermenu a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
}
@media (max-width:1025px){
        .burgermenu a.icon1 {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
          }
      
}
@media (max-width:1025px){
    #myLinks a:hover {
        border-bottom: 4px solid #f33f3f;
      
      }
}
 

@media (max-width:1025px){
    .nav {
        display: none;
    }
}

@media (max-width:1025px){
    .burgermenu {
        display: block;
        margin-right:30px;
    }
}

@media (max-width:1025px){
    .section-container {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
    }
}

@media (max-width:1025px){
    .heading {
        width: 70%;
    }
}

@media (max-width:1025px){
    .heading2 {
        width: 70%;
    }
}

@media (max-width:1025px){
    .middle-container {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;

    }
}

@media (max-width:1025px){
.right-block {
    width:490px;
    height: 490px;
    margin-top:50px;
    }
}

@media (max-width:1025px){
    .last-container {
        width: 70%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:1025px){
    .lastcontainer-button {
        margin-left: 100px;
    }
}

@media (max-width:1025px){
    .footer {
        width: 70%;
    }
}

@media (max-width:1025px) {
    .middlemiddlemiddlecontainer {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
    }
}

@media (max-width:1025px) {
    .leftleftleftblock iframe {
        width: 700px;
        margin-left: 10px;
    }
}

@media (max-width:1025px){
    .rightrightrightblock {
        margin-top: 20px;
    }
}

@media (max-width:1025px){
    .heading1 {
        width: 70%;
    }
}

/* 1016px */

@media (max-width:1016px) {
    .middlemiddlecontainer {
        display: flex;
        width: 70%;
    }
}

@media (max-width:1016px) {
    .rightrightblock {
        width: 70%;
        margin-left: 10px;
    }
}

@media (max-width:1016px) {
    .teammembers {
        width:80%;
    }
}

@media (max-width:1016px) {
    .team, .team1 {
        flex-wrap: wrap;
    }
}

@media (max-width:1016px) {
    .services {
        flex-wrap: wrap;
        display: flex;
    }
}

@media (max-width:1016px) {
    .servicee {
        width: 80%;
    }
}

@media (max-width:1016px) {
    .servicep {
        font-size:12px;
    }
}

@media (max-width:1016px) {
    .heading1 {
        width:80%;
    }
}

@media (max-width:1016px) {
    .partners-ul {
        width:80%;
        flex-wrap: wrap;
    }
}

/* 925px; */

@media (max-width:925px) {
    .section-container {
        justify-content: center;
    }
}

/* 850px */

@media (max-width:851px) {
    .leftleftleftblock iframe {
        width: 650px;
    }
}

/* 792px */

@media (max-width:792px) {
    .leftleftleftblock iframe {
        width: 600px;
    }
}

/* 780px */

@media (max-width:780px) {
    .middlemiddlecontainer{
        width: 80%;
        
        justify-content: center;
    }
}

@media (max-width:780px) {
    .middlep1, .middlep2 {
        width: 70%;
        
    }
}

@media (max-width:780px) {
    .team, .team1 {
        justify-content: center;;
        
    }
}

/* @media (max-width:780px) {
    .services{
        width: 80%;
    }
} */

@media (max-width:780px) {
    .servicee{
        flex-wrap: wrap;
    }
}

@media (max-width:780px) {
    .services-container{
        width: 80%;
        margin: 20px;
        justify-content: center;
    }
}

@media (max-width:780px) {
    .servicep{
        font-size: 16px;
        margin: 20px;
    }
}

@media (max-width:780px) {
    .container {
        margin-bottom:20px;
    }
}

@media (max-width:780px) {
    .partners {
        width:70%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
    }
}

@media (max-width:780px) {
    .partners-ul {
        
        justify-content: center;
    }
}

/* 758 */

@media (max-width:758px) {
    .middlemiddlecontainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:758px) {
    .rightrightheading {
        width: 200px;
        font-size: 16px;    
    }
}

@media (max-width:758px) {
    .leftleftblock {
        margin-bottom: 20px;
        width: 400px;
        height: 300px;
    }
}

/* 734px */

@media (max-width:734px) {
    .leftleftleftblock iframe {
        width: 550px;
    }
}

/* 676px */

@media (max-width:676px) {
    .leftleftleftblock iframe {
        width: 500px;
    }
}

/* 617px */

@media (max-width:617px) {
    .leftleftleftblock iframe {
        width: 450px;
    }
}

/* 600 */

@media (max-width:600px) {
    .slideshow-container {
        justify-content: center;
    }
}

@media (max-width:600px) {
    .numbertext {
        width: 80%;
        margin-left:50px;
    }
}

/* 592px */

@media (max-width:592px) {
    .contactplace {
        
        flex-wrap: wrap;
    }
}

@media (max-width:592px) {
    .form {
        width: 300px;
        display: flex;
    }
}

@media (max-width:592px) {
    .contactinfoplace, {
        width: 200px;
        display: flex;
    }
}

@media (max-width:592px) {
    .contactinfoplace, .contactinfoplace-h3, .contactinfoplace-p1, .contactinfoplace-p2, .contactinfoplace-li {
        width: 200px;
    }
}

/* 588px */

@media (max-width:588px) {
    .partners {
        margin-left:0px;
        justify-content: center;
    }
}

/* 525px */

@media (max-width:525px){
    .heading, .middle-container {
        flex-wrap: wrap;
    }
}

/* 505px */

@media (max-width:505px) {
    .heading {
        width: 50%;
    }
}

@media (max-width:505px){
    .headingp {
        width: 300px;
        
    }
}

@media (max-width:505px){
    .leftcontainer {
        width: 50%;
    }
}

@media (max-width:505px){
    .left-block {
        width: 70%;
    }
}

@media (max-width:505px){
    .left-block {
        width: 70%;
    }
}

@media (max-width:505px){
    .leftblock-heading {
        width: 70%;
    }
}

@media (max-width:505px){
    .leftblock-p {
        width: 100%;
    }
}

/* 440px */

@media (max-width:440px) {
    .numbertext h2 {
        font-size:18px;
    }
}

/* 437px */

@media (max-width:437px){
    .ourproducts-a, .ourproducts-a1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* 391px */

@media (max-width:391px) {
    .numbertext {
        top: 30%;
    }
}

@media (max-width:391px) {
    .heading {
        flex-wrap: wrap;
    }
}

@media (max-width:391px) {
    .section-container {
        width: 85%;
    }
}

/* 361 */

@media (max-width:361px) {
    .section-container {
        width: 95%;
        justify-content: center;
    }
}

/* 343 */

@media (max-width:343px) {
    .section-container {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:343px) {
    .last-container {
        display: flex;
        flex-wrap: wrap;
        
    }
}

@media (max-width:343px) {
    .lastcontainer-button {
        display: flex;
        margin-left: 30px;
    }
}

/* 349px */

@media (max-width:349px) {
    .last-container {
        display: flex;
        flex-wrap: wrap;
        
    }
}

@media (max-width:349px) {
    .lastcontainer-button {
        display: flex;
        margin-left: 30px;
    }
}

/* 336px */

@media (max-width:336px) {
    .block1, .block2, .block3, .block4, .block5, .block6, .block1-image, .block2-image, .block3-image, .block4-image, .block5-image, .block6-image{
        width: 280px;
        
    }
}

@media (max-width:336px){
    .sec-cont-price{
        margin-left: 30px;
    }
}

@media (max-width:336px) {
    .last-container {
        display: flex;
        flex-wrap: wrap;
        
    }
}
@media (max-width:336px) {
    .lastcontainer-button {
        display: flex;
        margin-left: 30px;
    }
}