.navigation {
	display: flex;
	/* z-index: 99999; */
	width: 100%;
	/* height: 84px; */
	background-color: #232323;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
/* logo styles */
.header-container {
    /* padding: 17px 0px; */
    padding-top: 17px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

.header-logo {
    font-size: 24px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
	font-weight: 700;
	margin-top: 17px;
	margin-bottom: 15px;
}

.logo-a {
    color: #fff;
    
}

.span-logo {
    color: #f33f3f;
}

/* navigation stysle */

.nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    /* padding-bottom: 2px; */
    
}

.nav-li {
    display: flex;
    color: wheat;
    margin-left:30px; 
    /* background-color: aqua; */
    /* margin-bottom: 34px; */
}

.nav-a {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    /* transition: all 0.1s; */
    margin-top: 5px;
    padding: 0 5px;
    padding-bottom: 21px;
}

.active, .nav-li:hover {
    /* background-color: #666; */
    color: white;
    border-bottom: 4px solid #f33f3f;
    
  }

.nav-ul {
    display: flex;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}

/* header end */


/* Slideshow container */
.slideshow-container {
    width: 100%;
    max-height: 600px;
    position: relative;
    margin: auto;
  }

  .slideshowsize {
      max-height: 600px ;
  }

  .dots {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  .myslide, img {
    width: 100%;
    height:600px;
    object-fit: cover;
	  background-size: cover;
	  background-repeat: no-repeat;
  	background-position: center center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
  font-family: 'Poppins', sans-serif;
  }

  .numbertext h4 {
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.numbertext h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
  font-family: 'Poppins', sans-serif;
}
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .activee, .dot:hover {
    background-color: #f33f3f;;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


  /* section start */

  .heading {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    max-width: 1000px;
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .heading-header {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
  }

  .headingp {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    
  }

  .headinga {
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
    font-family: 'Poppins', sans-serif;
    }

  .section-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    /* background-color: cadetblue; */
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block1 {
    display: flex;
    flex-wrap: wrap;
    width: 318px;
    margin-bottom: 30px;
    /* height:320px; */
    border: 1px solid #eee;
  }

  .sec-cont-heading {
    font-size: 17px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #1a6692;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .sec-cont-heading, a {
    text-decoration: none;
    color: #1a6692;
  }
  
  .sec-cont-price{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #121212;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-top: 30px;
  }

  .sec-cont-info {
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .sec-cont-stars{
    font-size:14px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .checked {
    color: #f33f3f;
  }

  .sec-cont-rev a {
    color: #f33f3f;
    font-size:14px;
    margin-left: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    
  }

  .block1-image {
    display: flex;
    /* background-color: red; */
    width: 318px;
    height: 132px;
    background-image: url(../images/product_01.jpg);
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .block2 {
    display: flex;
    flex-wrap: wrap;
    width: 318px;
    margin-bottom: 30px;
    /* height:320px; */
    border: 1px solid #eee;
  }

  .block2-image {
    display: flex;
    /* background-color: red; */
    width: 318px;
    height: 132px;
    background-image: url(../images/product_02.jpg);
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .block3 {
    display: flex;
    flex-wrap: wrap;
    width: 318px;
    margin-bottom: 30px;
    /* height:320px; */
    border: 1px solid #eee;
  }

  .block3-image {
    display: flex;
    /* background-color: red; */
    width: 318px;
    height: 132px;
    background-image: url(../images/product_03.jpg);
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .block4 {
    display: flex;
    flex-wrap: wrap;
    width: 318px;
    margin-bottom: 30px;
    /* height:320px; */
    border: 1px solid #eee;
  }

  .block4-image {
    display: flex;
    /* background-color: red; */
    width: 318px;
    height: 132px;
    background-image: url(../images/product_04.jpg);
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .block5 {
    display: flex;
    flex-wrap: wrap;
    width: 318px;
    margin-bottom: 30px;
    /* height:320px; */
    border: 1px solid #eee;
  }

  .block5-image {
    display: flex;
    /* background-color: red; */
    width: 318px;
    height: 132px;
    background-image: url(../images/product_05.jpg);
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .block6 {
    display: flex;
    flex-wrap: wrap;
    width: 318px;
    margin-bottom: 30px;
    /* height:320px; */
    border: 1px solid #eee;
  }

  .block6-image {
    display: flex;
    /* background-color: red; */
    width: 318px;
    height: 132px;
    background-image: url(../images/product_06.jpg);
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heading2 {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    max-width: 1000px;
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .heading-header {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
  }

  .middle-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    /* background-color: aqua; */
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #eee;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    width: 490px;
    /* background-color: brown; */
  }

  .leftblock-heading {
    /* display: flex; */
    width: 490px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #1a6692;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
  }

  .leftblock-p {
    width: 490px;
    margin-bottom: 25px;
    color: #4a4a4a;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .leftblock-a1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .leftblock-a2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .leftblock-ul {
    list-style-type: square;
    margin-left: 18px;
    color:#1a6692;
  }

  .leftblock-li {
    margin-bottom: 10px;
  }

  .leftblock-a3 {
    color:#1a6692;
  }

  .leftblock-a3:hover {
    color: #f33f3f;
  }

  .leftblock-readmore {
    /* width: #f33f3f; */
    margin-top: 30px;
  }

  .leftblock-readmore-a {
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: #f33f3f;
    color: #fff;
    border-radius: 5px;
  }

  .leftblock-readmore-a:hover {
    background-color: #cf3636;
  }

  .right-block {
    display: flex;
    width: 490px;
    background-image: url("../images/feature-image.jpg");
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .last-container {
    display: flex;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
  }

  .lastcontainer-left {
    width: 600px;
    /* background-color: brown; */
  }

  .lastcontainer-heading {
    font-size: 17px;
    color: #1a6692;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
  }

  .lastcontainer-span {
    font-size: 17px;
    font-weight: 800;
    color: #1a6692;
    font-family: 'Poppins', sans-serif;
  }

  .lastcontainer-p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
  }

  .lastcontainer-right {
    width: 300px;
    /* background-color: burlywood; */
  }

  .lastcontainer-button {
   margin-left: 150px;
   margin-top: 20px;
  }

  .lastcontainer-a {
    padding: 10px 20px;
    background-color: #f33f3f;
    color: #fff;
    border-radius: 5px;
  }

  .lastcontainer-a:hover {
    background-color: #cf3636;
  }

  .copyright {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
    text-align: center;
  }

  .copyright-a {
    color: #f33f3f;
  }

/* our-product page */
/* banner */


/* section */

.ourproducts-heading {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.main-image {
  width: 100%;
  height: 350px;
  background-image: url("../images/products-heading.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.ourproducts-ul {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  
}

.ourproducts-li {
  display: inline;
  
}

.ourproducts-a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
}

 .ourproducts-a:hover{
  color: #f33f3f;
}

.ourproducts-a1 { 
  text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
}

.pages {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.pages-ul {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  
}

.pages-li {
  display: inline;
  
}

.numbers {
  padding: 10px;
  margin-left: 10px;
  line-height: 42px;
  font-size:14px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #eee;
}

.numbers:hover {
  background-color: #f33f3f;
  color: #eee;
}

.mainimage-container {
	text-align: center;
	width: 100%;
  font-family: 'Poppins', sans-serif;
	position: relative;
}

.main-image1 {
  width: 100%;
  height: 350px;
  background-image: url("../images/about-heading.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

/*  */

.middlemiddlecontainer {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  /* background-color: aqua; */
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #eee;
  /* align-items: center; */
}

.leftleftblock {
  display: flex;
  width: 490px;
  background-image: url("../images/feature-image.jpg");
  /* object-fit: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rightrightblock {
  display: flex;
  flex-direction: column;
  width: 490px;
  /* background-color: brown; */
}

.rightrightheading {
  /* display: flex; */
  width: 490px;
  margin-bottom: 20px;
  font-size: 17px;
  color: #1a6692;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

.middlep1 {
  width: 490px;
  margin-bottom: 25px;
  color: #4a4a4a;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  
}

.middlep2 {
  width: 490px;
  margin-bottom: 25px;
  color: #4a4a4a;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.leftblock-a1 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.leftblock-a2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.leftblock-ul {
  list-style-type: square;
  margin-left: 18px;
  color:#1a6692;
}

.left1block-li {
  margin-bottom: 10px;
}

.left1block-a3 {
  color:#1a6692;
}

.left1block-a3:hover {
  color: #f33f3f;
}

.leftleftblock {
  display: flex;
  width: 490px;
  background-image: url("../images/feature-image.jpg");
  /* object-fit: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons li {
  display: inline;
  background-color:#eee;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  transition: all .3s;
}

  .social-icons li:hover {
  background-color: #f33f3f;
  color: #fff;
  }

.social-icons a {
  color: #121212;
  width: 50px;
  height: 50px;
  transition: all .3s;
}

.social-icons a:hover {
  color: #fff;
}

.heading1 {
     /* display: flex; */
    /* background-color: aqua; */
    /* justify-content: space-between; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
    border-bottom: 1px solid #eee;
}


.teammembers {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.team1 {
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 380px;
  width:100%;
}

.image {
  
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f33e3e;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  transform: translateX(-50%);
  text-align: center;
}

.social-icons1 li {
  display: inline;
  background-color:#eee;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  transition: all .3s;
}

  

.social-icons1 a {
  color: #121212;
  width: 50px;
  height: 50px;
  transition: all .3s;
}

.social-icons1 a:hover {
  color: #f33e3e;
}

.information {
  text-align: center;
  border: 1px solid #eee;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #1a6692;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top:8px;
}

.position {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #f33f3f;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}

.anotation {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
}